.App {
  text-align: center;
}

.logo {
  position: absolute;
  top: 8%;
  left: 4%;
  width: 5%;
  /*border: 1px solid black;*/
  text-align: left;
}

.logo--image {
  width: 60%;
}

.gradient-background {
  background: linear-gradient(to right, #43cea2, #185a9d);
  height: 60vh;
  min-height: 300px;
  max-height: 640px;
}


