.App {
  text-align: center;
}

.logo {
  position: absolute;
  top: 9%;
  left: 10%;
  width: 5%;
  text-align: left;
}

.logo--image {
  width: 60%;
  min-width: 41.9px;
  max-width: 81.9px;
}

.gradient-background {
  background: linear-gradient(69deg, #43cea2, #3fc3a2 10%, #3ec2a2 10%, #23799e 74%, #185a9d);
  height: 65%;
  min-height: 450px;
  color: #fff;
}

/* h2 styling */
#beam--welcome {
  padding-top: 5em;
  padding-bottom: 1em;
  font-weight: 100;
  color: #fff;
  /*letter-spacing: .rem;*/
  font-size: 36px;
}

.beam--intro {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: normal;
  padding-bottom: 71px;
}

.intro--form {
  border: none;
  background: transparent;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  text-align: left;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}

/* placeholder styling */
.intro--form::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
  color: #fff;
  opacity: .5;
}

.button--get-started {
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 16px 32px;
  color: #fff;
  font-weight: 300;
  margin-left: 75px;
  transition: background-color .3s, color .3s;
}

.button--get-started:hover {
  background-color: #fff;
  color: #000;
}

/* lower sections */
.beam--benefits {
  display: inline-block;
  width: 25%;
  margin-top: 3em;
  border: 1px solid black;
}

.beam--benefits p {
  padding: .8em 6em;
  font-weight: 400;
  font-size: 13px;
  color:  #808080;
}

.beam--benefits h4 {
  font-size: 20px;
  color: #43cea2;
  font-weight: 400;
  padding-top: .8em;
}

/* reponsive styles for Form.js page */
@media only screen and (max-width: 768px) {
  .gradient-background {
    height: 75%;
  }
  #beam--welcome {
    font-size: 25px;
  }

  .beam--intro {
    font-size: 18px;
    padding-top: 10px;
  }

  .intro--form {
    text-align: center;
    font-size: 18px;
  }
  .button--get-started {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
  }
  .beam--benefits {
    width: 100%;
  }
  .beam--benefits:last-of-type {
    margin-bottom: 3em;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .beam--benefits {
    width: 45%;
  }
  .beam--benefits p {
    padding: .8em 5em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .beam--benefits {
    width: 35%;
  }
}

/* reponsive styles for Dashboard.js page */
/* styling for amount display sections */
.financial--summary {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding-top: 39px;
}
.username--section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 10em;
}

#user-name {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #717171;
}

.dashboard--upper-section {
  height: 60vh;
  min-height: 300px;
  max-height: 640px;
  background-color: rgba(246, 246, 246, 0.45);
}

.individual--amounts {
  float: left;
  width: 24%;
}

.svg--chart {
  width: 24%;
  margin-bottom: 2em;
  position: relative;
  right: 4em;
  bottom: 7em;
}

svg {
  position: absolute;
}


.individual--amounts h3 {
  font-size: 14px;
  font-weight: bold;
  color: #717171;
}

.amounts {
  font-size: 25px;
  color: #a1a1a1;
  font-weight: 300;
  padding-top: 1.5em;
}

/* list for data entries */
.entry--form {
  margin-top: 1.0em;
}
.dashboard--log-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 2em;
}

.type-columns {
  list-style: none;
}

.income--list,
.expense--list {
  float: left;
  width: 45%;
}

.income--list {
  margin-right: 8%;
}
.button--new-entry {
  border: none;
  background-color: #dbdbdb;
  border-radius: 50px;
  padding: 1em 4em;
  font-weight: 400;
  color: #808080;
  cursor: pointer;
  opacity: .8;
  transition: opacity .3s;
  margin-top: 3em;
}

.button--new-entry:hover {
  opacity: 1;
}

h5 {
  font-size: 13px;
  font-weight: 400;
  padding-top: .8em;
  color: #636363;
}

.entry--details {
  position: relative;
  padding: 1.2em 0 0 0;
}


.entry--description,
.entry--amount,
.amount-and-button {
  display: inline-block;
}

.entry--description,
.entry--amount {
  font-size: 14px;
}
.entry--description {
  color: #808080;
}

.entry--amount {
  cursor: pointer;
}

.entry--amout:hover {
  color: red;
}
.amount-and-button {
  position: absolute;
  left: 20em;
}

#income--amount {
  color: #43cea2;
}

#expense--amount {
  color: #ff5751;
}
.button--cancel {
  border: none;
  background-color: #f5f5f5;
  border-radius: 50px;
  padding: .8em 3em;
  font-weight: 400;
  font-size: 12px;
  color: #808080;
  cursor: pointer;
  opacity: .8;
  transition: opacity .3s;
  /*margin-right: 3em;*/
}
.button--save-entry {
  border: none;
  background-color: #43cea2;
  border-radius: 50px;
  padding: .8em 3em;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  opacity: .8;
  transition: opacity .3s;
  margin-right: 1em;
  /*border: 1px solid black;*/
}

.button--save-entry:hover,
.button--cancel:hover {
  opacity: 1;
}
.item--description::-webkit-input-placeholder,
.item--amount::-webkit-input-placeholder {
  color: #808080;
  font-weight: 400;
  font-size: 14px;
  opacity: .6;
}

.item--description,
.item--amount {
  border: 2px solid rgba(150, 150, 150, 0.29);
  border-radius: 5px;
  margin-bottom: 2.5em;
  font-size: 14px;
  color: #808080;
}

.item--description {
  padding: .9em 8em .9em .8em;
  background-color: #fff;
}

.item--description:focus {
  background-color: white;
}

.item--amount {
  padding: .9em 0 .9em 0;
  width: 64px;
  text-align: center;
  color: #808080;
  margin-left: 3em;
  /*height: 24px;*/
}

.progress-circle-path {
  stroke: #43cea2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.progress-circle-background {
  stroke: #ddd;
}

.progress-circle-path,
.progress-circle-background {
  fill: none;
}

.financial-health-text {
  font-size: 13px;
  font-weight: bold;
  fill: red;
}

.circle--heading {
  fill: black;
  font-size: 14px;
  fill: #717171;
  font-weight: bold;
}


@media only screen and (max-width: 768px) {
  .dashboard--upper-section {
    height: 100%;
    min-height: 300px;
    max-height: 640px;
    background-color: rgba(246, 246, 246, 0.45);
  }
  .username--section {
    width: 100%;
    text-align: center;
    padding-top: 5.5em;
  }

  #user-name {
    font-size: 16px;
  }
  .individual--amounts {
    float: none;
    width: 100%;
    text-align: center;
  }
  .svg--chart {
    width: 100%;
    text-align: center;
    right: 0em;
    bottom: 0em;
    border: 1px solid black;
  }

  svg {
    position: relative;
  }


  .individual--amounts h3 {
    font-size: 14px;
    font-weight: bold;
    color: #717171;
  }

  .amounts {
    padding-top: .4em;
    padding-bottom: 1em;
    font-size: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {

}





